header {
  color: rgb(255,0,0);
}

h2 {
  color: #1e00cb;
}

h3 {
  color: hsl(147, 68%, 32%)
}

.agenda-header {
  color: orange;
}

body {
  background-color: #d6d3ea;
}

.copy-type {
  width: 16vw;
}

.mailing-list {
  width: 15em;
}

.feedback {
  height: 10vh;
}

.first-name-el {
  width: 4cm;
}

.last-name-el {
  width: 114pt;
}

.input-el {
  width: 2in;
}