/* Apply color to HTML elements */
/* Style text */
header {
  color: rgb(255,0,0);
  text-decoration: underline red;
  text-align: center;
}

h2 {
  color: #1e00cb;
  display: block;
}

h3 {
  color: hsl(147, 68%, 32%)
}

.agenda-header {
  color: orange;
}

/* Apply background color */
body {
  background-color: #d6d3ea;
}

/* Use relative and absolute measurements */
.copy-type {
  width: 16vw;
}

.mailing-list {
  width: 15em;
}

.feedback {
  height: 10vh;
}

.first-name-el {
  width: 4cm;
}

.last-name-el {
  width: 114pt;
}

.input-el {
  width: 2in;
}

/* Apply Box Model to configure containers */
.pic1 {
  margin:.5cm .5cm .5cm .5cm;
  padding:.5cm .5cm .5cm .5cm;

  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}

.pic2 {
  width: 30vw;

  margin-top: .5cm;
  margin-bottom: .5cm;
  margin-left: .5cm;
  margin-right: .5cm;
  
  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
  padding-right: 1cm;
  
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color: black;
  
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  
  border-radius: 10px;
}

/* Apply display properties */
.secret-header {
  display: none;
}

.copy-wrapper {
  display: inline-block;
}

.addon-wrapper {
  display: inline-block;
}

/* Set height and width for an element */
video {
  height: 23em;
  width: 40em;
  max-width: 50em;
  min-width: 1em;
}

/* Apply positioning on page */
.submit {
  position: relative;
  top: 5px; 
  left: 228px;
}

.start-date-wrapper {
  position: static;
}

/* Make use of pseudo-classes */
.submit:hover {
  color: white;
  background-color: red;
}

summary:active {
  color: red;
}

/* Apply use of layouts - Flex */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
  text-align: left;
}

.flex-agenda {
  padding: 5px;
}

.flex-prev-tasks {
  padding: 5px;
}

.flex-new-tasks {
  padding: 5px;
}

/* Apply use of layouts - Grid */
.grid-container {
  display: inline-grid;
  row-gap: 20px;
  justify-items: start;
}

.grid-pictures {
  align-self: start;
}

.grid-audio {
  align-self: start;
}

.grid-video {
  align-self: start;
}

/* Apply responsiveness to page */
@media screen and (max-width: 800px) {
  body {
    background-color: #d9cdaf;
  }
}

/* CSS Selector Application */
#feet {
  color: blue;
}

*#naming {
  color: rgb(40, 147, 149);
}

a[href] {
  font-style: italic;
}

h1,h2,h3 {
  font-style: italic;
}

li strong {
  text-decoration: line-through;
}

div > ul {
  color: #1e00cb;
}

h2 + h3 {
  color: red;
}

li ~ li {
  font-weight: bold;
}

button.submit {
  color: green;
}